<h1>Editar información de cachorro </h1>
<%= form_with model:@video do |f| %>
  <div>
    <%= f.label "Descripción actual" %>
    <%= text_area_tag 'description', @actual_description, disabled: true %>
  </div>
  <div>
    <%= f.label "Nueva descripción" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label "Visible?" %>
    <%= f.check_box :visible %>
  </div>
  <div>
    <%= f.label "Agrega la URL a la imagen del cachorro" %>
    <%= f.url_field :url %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>