<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Puppyrama!", '#', class: 'navbar-brand'%>
    <%# Form to be modified %>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
      <%= link_to "Add!", new_video_path, class: "btn btn-primary" %>
    </form>
  </div>
</nav>
<% if @videos.count > 0 %>
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <% if video.url %>
            <%= image_tag video.url %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= video.title %></h5>
            <p class="card-text"><%= video.description %></p>
            <%= link_to "More", show_video_path(id: video.id), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
  <h1 class="text-center">No puppys found! </h1>
<% end %>